{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-list.css' %}">
{% endblock head %}

{% block content %}
<div class="book-list-wrapper">
    <h1>Your Shelf</h1>
    <ul>
        <div class="book-list-card-container">
            {% for book in book_list %}
            <a href="{% url 'book-detail' book.id %}">
                <div class="book-list-card">
                    <li>
                        <em>{{book.name}}</em> by {{book.author}} </br></br><em>{{book.series}}</em> | <strong></strong>{{book.published_year}}</strong>
                    </li>
                </div>
            </a>
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock content %}