{% extends "base.html" %}

{% block content %}
<h1>Book Details</h1>
<ul>
    <li>
        <div><img src="{{book.image}}" alt="{{book.name}}" width="250"/></div>
        <p><strong><em>{{book.name}}</em></strong> by {{book.author}}</p>
        <p><small>{{book.series}}</small> | <small>{{book.published_year}}</small></p>
        <p>Genres: {{book.genre}} </p>
        <p>Characters: {{book.characters}}</p>
        <button type="submit">View all Characters</button>
        <p>Locations: {{book.locations}}</p>
        <button type="submit">View all Locations</button>
    </li>
</ul>
<a href="{% url 'book-update' book.id %}">Edit</a>
<a href="{% url 'book-delete' book.id %}">Delete</a>
{% endblock content %}