<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Paper Crumbs</title>
    {% block head %} 
    {% endblock head %}
</head>
<body>
    <header>
        <div class="header-logo-container">
            <a href="">
                <img src="" alt="" />
            </a>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'book-list' %}">All Books</a></li>
                <li><a href="">All Characters</a></li>
                <li><a href="">All Locations</a></li>
                <li><a href="{% url 'book-create' %}">Add Book</a></li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
                {% else %}
                <li><a href="">Placeholder link</a></li>
                <li><a href="{% url 'home' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>